<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
        <div class="container">
            <%- include layout %>
            <h2 align="center">KongRuksiam Studio</h2>
            <%- messages() %>
            <% if(user) {%>
                  <h3><%= user.name %></h3>
                  <h3><%= user.email %></h3>
            <% } %>
        </div>
        <script type="text/javascript">
              $('#messages').addClass("alert alert-success");
        </script>
  </body>
</html>
